<mat-tab-group dynamicHeight>

    <!-- customer......................... -->
    <mat-tab label="Customer">
        <app-customer></app-customer>

    </mat-tab>
    <!-- business....... -->
    <mat-tab label="Business Owner">
        <app-businessowner></app-businessowner>
    </mat-tab>
</mat-tab-group>
<!-- .............create alert.............. -->




<!-- .......news and more....... -->
<mat-card-content>

    <mat-card [style.backgroundColor]="'#f2f2f2'">
        <div class="example-large-box mat-elevation-z4">
            <a href="/">
                <mat-card-title>Todays News</mat-card-title>
                <mat-card-subtitle>PEEEBAMM youtube Official news</mat-card-subtitle>
                <button [style.backgroundColor]="'#007bff'" [style.color]="'#ffffff'" mat-flat-button>More</button>
            </a>
        </div>
    </mat-card>


    <mat-card [style.backgroundColor]="'#f2f2f2'">
        <a href="/">
            <mat-card-title>Lucky Draw Winner Customer</mat-card-title>
            <mat-card-subtitle>10 people won prizez worth Rs 10K</mat-card-subtitle>
            <button [style.backgroundColor]="'#007bff'" [style.color]="'#ffffff'" mat-flat-button>More</button>
        </a>
    </mat-card>

    <mat-card [style.backgroundColor]="'#f2f2f2'">
        <a href="/">
            <mat-card-title>Lucky Draw Winner Business</mat-card-title>
            <mat-card-subtitle>10 people won prizez worth Rs 10K</mat-card-subtitle>
            <button [style.backgroundColor]="'#007bff'" [style.color]="'#ffffff'" mat-flat-button>More</button>
        </a>
    </mat-card>

    <mat-card [style.backgroundColor]="'#f2f2f2'">
        <a href="/">
            <mat-card-title>Want to Earn more with us</mat-card-title>
            <mat-card-subtitle>5 ways to earn more with PEEEBAMM</mat-card-subtitle>
            <button [style.backgroundColor]="'#007bff'" [style.color]="'#ffffff'" mat-flat-button>More</button>
        </a>
    </mat-card>



    <mat-card [style.backgroundColor]="'#f2f2f2'">
        <a href="https://www.youtube.com/channel/UC60wVR21P6waDF3wCdMEXjw?sub_confirmation=1">
            <mat-card-title>Youtbe Account</mat-card-title>
            <mat-card-subtitle>PEEEBAMM youtube Official</mat-card-subtitle>
            <button color="warn" mat-flat-button>Subscribe</button>
        </a>
    </mat-card>

    <mat-card color="warn" [style.backgroundColor]="'#f2f2f2'">
        <a href="https://www.youtube.com/channel/UC60wVR21P6waDF3wCdMEXjw?sub_confirmation=1">
            <mat-card-title>Facebook</mat-card-title>
            <mat-card-subtitle>PEEEBAMM Facebook Official</mat-card-subtitle>
            <button [style.backgroundColor]="'#007bff'" [style.color]="'#ffffff'" mat-flat-button>Follow</button>
        </a>
    </mat-card>

    <mat-card [style.backgroundColor]="'#f2f2f2'">
        <a href="https://www.youtube.com/channel/UC60wVR21P6waDF3wCdMEXjw?sub_confirmation=1">
            <mat-card-title>Website</mat-card-title>
            <mat-card-subtitle>peeebamm.com</mat-card-subtitle>
            <button [style.backgroundColor]="'#007bff'" [style.color]="'#ffffff'" mat-flat-button>Visit</button>
        </a>
    </mat-card>
</mat-card-content>