<mat-card>

    <div fxlayout="row wrap" style="flex-flow: row wrap; box-sizing: border-box; display: flex">

        <div fxflex="50" fxflex.xl="16.6" fxflex.lg="16.6" fxflex.md="33.3" fxflex.sm="33.3" class="p-2" style="flex: 1 1 50%; box-sizing: border-box; max-width: 50%">
            <mat-card class="mat-card mat-focus-indicator gradient-green tile p-2">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">monetization_on</mat-icon>
                <h2>$33500</h2>
                <p>profit</p>
            </mat-card>
        </div>

        <div fxflex="50" fxflex.xl="16.6" fxflex.lg="16.6" fxflex.md="33.3" fxflex.sm="33.3" class="p-2" style="flex: 1 1 50%; box-sizing: border-box; max-width: 50%">
            <mat-card class="mat-card mat-focus-indicator gradient-red tile p-2">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">person_add</mat-icon>
                <h2>5300</h2>
                <p>reffered</p>
            </mat-card>
        </div>

        <div fxflex="50" fxflex.xl="16.6" fxflex.lg="16.6" fxflex.md="33.3" fxflex.sm="33.3" class="p-2" style="flex: 1 1 50%; box-sizing: border-box; max-width: 50%">
            <mat-card class="mat-card mat-focus-indicator gradient-orange tile p-2">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">group</mat-icon>
                <h2>14280</h2>
                <p>Customers network</p>
            </mat-card>
        </div>



        <div fxflex="50" fxflex.xl="16.6" fxflex.lg="16.6" fxflex.md="33.3" fxflex.sm="33.3" class="p-2" style="flex: 1 1 50%; box-sizing: border-box; max-width: 50%">
            <mat-card class="mat-card mat-focus-indicator gradient-pink tile p-2">
                <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true" data-mat-icon-type="font">add_business</mat-icon>
                <h2>14280</h2>
                <p>Business owners</p>
            </mat-card>
        </div>

    </div>
</mat-card>